// 기본 색상
$color_B1: #3c1f4c;
$color_B2: #5b2077;
$color_B3: #7e35a0;
$color_B4: #9a5abb;
$color_B5: #e4ccf1;
$color_B6: #e9deef;
$color_B7: #fec524;
$color_F1: #000000;
$color_F2: #4f4f4f;
$color_F3: #626262;
$color_F4: #828282;
$color_F5: #adadad;
$color_F6: #cbcbcb;
$color_F7: #e9deef;
$color_BG1: #ededed;
$color_BG2: #f8f8f8;
$color_BG3: #f7f5f9;
$color_white: #ffffff;

// 폰트 크기
$font_14: 14px;
$font_15: 15px;
$font_16: 16px;
$font_18: 18px;

// 폰트 굵기
$font_weight_medium: 500;
