.Editor {
  width: 100%;
  height: 100%;
  background-color: white;

  & .quill {
    height: 100%;
    display: flex;
    flex-direction: column;
    & .ql-container {
      flex: 1;
      overflow: scroll;
    }
  }

  .ql-editor {
    font-size: 14px;
    line-height: 1.5;

    & p img {
      display: block;
      margin: auto;
      width: 100%;
      max-width: 560px;
    }
    & strong {
      font-weight: 700;
    }
    & em {
      font-style: italic;
    }
  }
  .ql-editor.ql-blank::before {
    font-style: normal;
  }
}
